*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

body{
    position: relative;
}

.about-us{
    padding: 110px 155px 110px 151px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden
}
.settings-icon{
    position: absolute;
    z-index: 10;
    animation: fade-in 1s;
}

.settings-icon:nth-child(1){
    top: -300px;
    right: 0;
}

.settings-icon:nth-child(2){
    bottom: -300px;
    left: 0;
}

.about-us__head h2{
    font-size: 64px;
    color: black;
    font-weight: 900;
    text-align: center;
    animation: fade-in 1s;
}

.about-us__content{
    margin-top: 55px;
    display: none;
}

.about-us__content.desktop{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-text h3{
    font-size: 26px;
    font-weight: 700;
}

.item-text p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
}

.about-us__content-block{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
    max-height: 486px;
    overflow-y: hidden;
}

.about-us__content-block img:nth-child(1){
    width: 58%;
    max-width: 937px;
    animation: fade-in 1s;
}

.about-us__content-block:nth-child(1) .block-item{
    max-width: 663px;
    width: calc(100% - 58% - 20px);
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow-y: hidden;
    animation: fade-in 1s;
}

.about-us__content-block:nth-child(1) .block-item img{
    width: 100%;
    animation: fade-in 1s;
}

.about-us__content-block:nth-child(2) .item-text:nth-child(1){
    max-width: 410px;
}

.about-us__content-block:nth-child(2) img{
    margin-left: 10px;
    height: 298px;
    width: auto;
    animation: fade-in 1s;
}

.about-us__content-block:nth-child(2) .item-text{
    max-width: 620px;
    width: 47.1%;
}

.about-us__content-item{
    display: flex;
    gap: 20px;
}

.about-us__content-item img{
    width: 61.2%;
    animation: fade-in 1s;
}

.about-us__content-item:nth-child(2) img{
    width: 39%;
    height: 100%;
    object-fit: fill;
    min-height: 210px;
}

.about-us__content-item:nth-child(2) .item-text{
    width: calc(100% - 39% - 20px);
    animation: fade-in 1s;
}

.about-us__content-item:nth-child(2) .item-text br{
    display: none;
}

.about-us__content-item .item-text{
    width: calc(100% - 61.2% - 20px);
    animation: fade-in 1s;
}

@media screen and (max-width:1850px) {
    .about-us__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about-us__content.desktop{
        display: none;
    }   
    .about-us{
        /* position: relative; */
        overflow-y: hidden !important
    }    
    .item-text p{
        font-size: 19px;
        line-height: 31px;
    }
    .settings-icon{
        width: 300px;
    }
    .settings-icon:nth-child(1){
        right: 10px;
        bottom: -150px;
        top: auto;
        transform: rotate(45deg);
    }
    .settings-icon:nth-child(2){
        right: -100px;
        top: -200px;
    }
}

@media screen and (max-width:1440px) {
    .about-us__head h2{
       font-size: 50px; 
    }
    .item-text p{
        font-size: 16px;
        line-height: 24px;
    }
    .item-text h3{
        font-size: 20px;
    }
    .settings-icon:nth-child(1){
        width: 223px;
    }
    .settings-icon:nth-child(2){
        width: 223px;
    }
}

@media screen and (max-width:1180px) {
    .about-us__head h2{
        font-size: 40px; 
    }   
    .item-text p{
        font-size: 14px;
        line-height: 20px;
    }
    .item-text h3{
        font-size: 16px;
    }
}

@media screen and (max-width:1060px) {
    .item-text p{
        font-size: 13px;
        line-height: 17px;
        margin-top: 20px;
    }
    .item-text h3{
        font-size: 15px;
    }
    .about-us{
        padding: 70px 70px;
    }    
}

@media screen and (max-width:850px) {
    .about-us{
        padding: 70px 55px;
    }
    .item-text p{
        font-size: 12px;
        line-height: normal;
        margin-top: 20px;
    }
    .item-text h3{
        font-size: 14px;
    }
    .about-us__head h2{
        font-size: 30px; 
    }
    .about-us__content{
        margin-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .about-us{
        padding: 70px 40px;
    }    
    .about-us__head h2{
        font-size: 25px; 
    }   
}

@media screen and (max-width:680px) {
    .about-us__content{
        gap: 25px;
    }
    .about-us__content-item{
        flex-direction: column;
        gap: 15px;
    }    
    .about-us__content-item img, 
    .about-us__content-item .item-text, 
    .about-us__content-item:nth-child(2) img, 
    .about-us__content-item:nth-child(2) .item-text{
        width: 100%;
    }
    .about-us__content-item:nth-child(2){
        flex-direction: column-reverse;
    }
    .about-us__content-item:nth-child(2) img{
        max-height: 300px;
        object-fit: cover;
        min-height: auto;
    }
    .settings-icon:nth-child(1){
        transform: rotate(0deg);
        width: 150px;
        bottom: -80px;
    }
    .settings-icon:nth-child(2){
        width: 150px;
    }
}

@media screen and (max-width:520px) {
    .about-us{
        padding: 40px 20px;
    }
    .about-us__head h2{
        font-size: 16px;
    }    
    .item-text p, .item-text h3{
        font-size: 10px;
    }
    .item-text p{
        margin-top: 10px;
    }
    .about-us__content{
        margin-top: 20px;
    }
    .about-us__content-item:nth-child(2) .item-text br{
        display: block;
    }
    .about-us__content-item:nth-child(2) img{
        max-height: 240px;
    }
    .settings-icon:nth-child(1){
        transform: rotate(0deg);
        width: 150px;
        bottom: -120px;
    }
    .settings-icon:nth-child(2){
        width: 150px;
    }
}

@media screen and (max-width:350px) {
    .about-us__content-item:nth-child(2) img{
        max-height: 145px;
    }
}

@keyframes fade-in{
    0% { opacity: 0; }
    100% { opacity: 1; }  
}